.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-form {
  width: 50%;
}

.delete-rule-button {
  color: red
}

.rule-label-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rule-and-pattern-block {
  margin-bottom: 10px;
}

.pattern-text {
  width: 100%;
}

.text-input {
  width: 100%;
  margin-bottom: 10px;
}

.text-block {
  margin-bottom: 10px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.scapy-response-text {
  border: solid;
  margin-top: 10px;
}